.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.me-auto.nav_bar-wrapper.navbar-nav a {
  padding-left: 30px;
  text-decoration: none;
}

form.main-login-form input {
  padding: 11px;
  width: 450px;
}
.main-register-page.center {
  width: 600px;
  margin-left: 574PX;
}
table, th, td {
  border: 1px solid black !important;
}
table{
  width:100%
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
img.banner-img {
  width: 100%;
}
span.product-price {
  color: red;
  font-weight: 400;
}

.main-inner h4 {
  font-size: 17px;
}
.main-inner.col-sm-3 {
  border: 1px solid #000;
}

img.product-item-image {
  width: 274px;
  height: 250px;
  
}

button.btn.btn-primary {
  width: 272px;
  margin-top: 15px;
  height: 52px;
}
.main-inner.col-sm-3 {
  margin: 12px;
}
.main-inner p {
  font-size: 14px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  justify-content: center;
}
.main-inner.col-sm-3 {
  margin-bottom: 57px;
}

.main-inner-side {
  margin-left: 613px;
  display: flex;
}
.main-inner-side {
  margin-left: 613px;
  display: flex;
}
.right-side-data {
  margin: 59px;
}
.main-inner h4 {
  color: black;
}
.main-outer.row a {
  text-decoration: none;
}
p.product-description {
  color: #000;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
